<!DOCTYPE html>
<html>
    <head>
        <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
              
        {% load static %}
        <link rel="stylesheet" type='text/css' href='{% static "css/styles.css" %}'/>
        <script src='{% static "scripts/block.js" %}'></script>

        <script>
            function banana(){
                alert('Easter egg in the future');
            }
        </script>        
    </head>
    <body>
        <header>
            {% load static %}
            <div><img  src="{% static 'svg/banana.svg' %}" onclick="banana()"></img></div>
            <p>Banana PI Webserver</p>
        </header>
        <main>
            {% block main %}
            {% endblock %}

        </main>
    </body>
</html>