{% extends 'base.html' %}

{% block main %}
<p id="greetings">Welcome to main page of banana Pi Webserver</p>
<style>
    #greetings{        
        background-color: blanchedalmond;
        display: inline-block;
        justify-content: center;
    }
    #greetings:hover{
        background-color: aquamarine;
        color: salmon;
    }

    @media only screen and (min-width: 1300px){
        #greetings{
            font-size: 42px;
            padding: 20px;
            margin: 15px;
            border-radius: 50px;
        }
    }
    @media only screen and (max-width: 1300px){
        #greetings{
            font-size: 34px;
            padding: 15px;
            margin: 10px;
            border-radius: 40px;
        }
    }
    @media only screen and (max-width: 800px){
        #greetings{
            font-size: 18px;
            padding: 7px;
            margin: 5px;
            border-radius: 25px;
        }
    }

</style>
{% endblock %}