body {
    padding: 0px;
    font-size: 14px;
    background-color: white;
    height: 100%;
    margin: 0;
}

header {
    background-color: rgb(40 ,40,40);
    justify-content: center;
}
header > div{
    position: absolute;
    top: 5px;
    left: 5px;
}

header >div:hover{
    background-color: rgb(200, 200, 200);
    border-radius: 100px;
}
header > p{
    background-color: rgba(100, 100, 100,0.7);
    color: aliceblue;
    margin: auto;
    border-radius: 40px;
    text-align: center;
}
.cont{
    background-color:rgba(100, 100, 100,0.7);
    border-radius: 50px;
    padding: 10px;
    text-align: center;
}
.cont > .title{
    padding: 10px;
    margin: auto;
    background-color: rgb(200, 200, 200);
    border-radius: 20px;
    width: max-content;
}
.com{
    text-align: center;
    background-color: white;
    border-radius: 30px;
    display: inline-block;
}
@media only screen and (min-width: 1300px){
    header{
        padding: 30px;
    }
    header > p{
        width: 500px;
        padding: 30px;
        font-size: 42px;
    }
    header > div img{
        width : 100px;
        height: auto;
    }
    .cont{        
        margin: 50px;
    }
    .cont > .title{
        font-size: 40px;
    }
    .com{
        width: 300px;
        margin: 15px;
        padding:10px;
        font-size: 16px;
    }
}
@media only screen and (max-width: 1300px){
    header{
        padding: 20px;
    }
    header > p{
        width: 300px;
        padding: 20px;
        font-size: 34px;
    }
    header > div img{
        width : 80px;
        height: auto;
    }
    .cont{        
        margin: 35px;
    }
    .cont > .title{
        font-size: 32px;
    }
    .com{
        width: 200px;
        margin: 10px;
        padding:7px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 800px){
    header{
        padding: 8px;
    }
    header > p{
        width: 200px;
        padding: 5px;
        font-size: 20px;
    }
    header > div img{
        width : 50px;
        height: auto;
    }
    .cont{        
        margin: 20x;
    }
    .cont > .title{
        font-size: 24px;
    }
}

header > p:hover{
    background-color: rgb(200, 200, 200);
    color: black;
}
main {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    background-color: rgb(60 ,60,60);
    height: 100vh;
}

.s7{
    text-align: center;
    font-size: 20px;
    width:300px;
    margin: 20px;
    background-color: white;
}
